@using WebCore.Services.Share.Admins.Users.Dto
@model WebCore.Areas.Admin.Models.Users.UserViewModel
<div class="main-panel">
    <div class="content">
        <partial name="FilterPartial" model="@Model.FilterInput" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">@Html.Lang("ADMIN_USER_PAGE")</h4>
                        </div>
                        <div id="mainList" class="card-body">
                            <partial name="MainListPartial" model="@Model.PagingResult" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="input-area" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
</div>

@section scripts{ 
    <partial name="JsPartial" />
}